<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Destinations

    <a data-toggle="collapse" href="#trip_destinations_new_form">
      Add destination
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @trip.destinations.each do |destination| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/destinations/<%= destination.id %>">
          <%= destination.city_name %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_destination_from_trip/<%= destination.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="trip_destinations_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
