<h1>
  Add a new trip
</h1>


<hr>

<form action="/create_trip" method="post">

  <div class="form-group">
    <label for="journey_name">
      Journey name
    </label>

    <input type="text" id="journey_name" name="journey_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="start_date">
      Start date
    </label>

    <input type="text" id="start_date" name="start_date" class="form-control">
  </div>

  <div class="form-group">
    <label for="end_date">
      End date
    </label>

    <input type="text" id="end_date" name="end_date" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create trip
  </button>
</form>

<hr>

<a href="/trips">
  Go back
</a>
